[2014-08-08 07:27] jodosha opened #3 "Improve error reporting"
Consider the following case:

[code]

Where:
1. Attribute
2. Validation
3. Expectation
4. Actual value

**Bonus point:** Because this is a quite complex data structure, consider to introduce `Lotus::Validation::Errors`.

[2014-08-08 07:30] jodosha opened #4 "Check validations names"
Check validation names when `.attribute` is used. This should protect developers against typos.

Example:

[code]

If you look at the code above, there was a typo ;)

[2014-08-08 08:33] #4 closed, assigned to nobody

[2014-08-08 14:43] #3 closed, assigned to nobody

[2014-08-11 15:35] viking opened #6 "Exclusion validator is called 'esclusion'"
Is this intentional or a misspelling?

https://github.com/lotus/validations/blob/34ba81a82fdebb15a511521c460b5bff14dcfb5a/lib/lotus/validations/attribute_validator.rb#L43

[2014-08-12 20:48] viking opened #8 "Presence validation accepts empty values"
Consider:

[code]

In the context of a `Lotus::Application`, input tags in an HTML form that are left blank are empty strings and are never `nil`. Should the presence validation treat empty values as missing by default?

[2014-08-31 20:31] lasseebert opened #12 "Coercion is not run without validation"
This took me some time to figure out. Not sure if it's unintended or by design.

I have this lotus controller:

[code]

When calling this with a string:

[code]

The output from `params.id` is not coerced to `42` but is the original `"42"`.

I found out that I needed to run validations (as coercion is a validation in `Lotus::Validations`) using `valid?`. After that the params output is as expected

[2014-09-13 10:28] #6 closed, assigned to nobody

[2014-09-18 09:17] #8 closed, assigned to nobody

[2014-10-24 18:37] jodosha opened #19 "Make validations composable"
Example:

[code]

[2014-10-25 13:17] jodosha opened #20 "Allow both strings and symbols as attribute keys"
We have recently introduced a new feature in `Lotus::Router`: [JSON body parsing](https://github.com/lotus/router/pull/21). The body of the incoming JSON requests gets parsed and transformed into a Ruby Hash. For [security reasons](http://merbist.com/2010/07/29/object-allocation-why-you-should-care/), we don't symbolize the keys of that Hash.

`Lotus::Validations` powers the internals of the `Lotu

[2014-10-27 17:38] luislavena opened #21 "Obtain coerced and whitelisted attributes"
Take the following example:

[code]

[code]

There is no easy way, without repetition, to pass the coerced and whitelisted attributes down to the model/entity.

Being `attributes` a protected method and not supporting `slice` to retrieve a defined set of attributes, end doing `signup.email` and `signup.password` multiple times (and that is just an example)

It should be possible obtain the coerced

[2014-11-02 16:12] #19 closed, assigned to jodosha

[2014-11-04 10:45] #21 closed, assigned to jodosha

[2014-11-04 12:50] luislavena opened #24 "Retrieve only whitelisted attributes after validation"
#21 introduced the ability to retrieve coerced attributes (`.attributes` or `.to_h`) after validation, however, it also carried over extra attributes that weren't validated or coerced.

Example:

[code]

Having `attributes` return only the whitelisted and coerced values avoids the potential issue of sending parameters down to other objects that might have undesired effects.

While usage of `.attri

[2014-11-15 14:35] jodosha opened #25 "Make validator to act like a Hash"
With #21 we introduced `#attributes` as a public method for obtain the set of all the validated/coerced attributes. That API is truly useful, but it leads to some weird usage. Think of the following use case:

[code]

If we want to introspect all the data that a validator hides, we should always refer to `#attributes` and then manipulate it. For instance `signup.attributes.values` or `signup.attri

[2014-11-17 14:14] #12 closed, assigned to nobody

[2014-11-17 14:14] #24 closed, assigned to jodosha

[2014-11-18 11:51] #20 closed, assigned to jodosha

[2014-11-18 13:50] #25 closed, assigned to nobody

[2014-11-19 15:20] gotar opened #31 "Composable validations"
https://gist.github.com/gotar/15df9116d61f6f13ce09
Why this is not working? (lotus-validations 0.1.0) I try master but cannot install got:
Could not find gem 'lotus-utils (>= 0.3.1.dev, ~> 0.3) ruby', which is required by gem 'lotus-validations (>= 0) ruby', in any of the sources.

[2014-11-19 16:58] #31 closed, assigned to jodosha

[2014-11-29 14:36] jodosha opened #33 "Custom coercions aren't idempotent"
Reported by @rail44 in chat: https://gist.github.com/jodosha/49f85aba480275b034b4

[2014-12-04 10:15] jodosha opened #35 "Nested attributes validation"
Ref https://github.com/lotus/controller/issues/53

[2014-12-19 09:45] #33 closed, assigned to nobody

[2014-12-29 11:21] stevehodgkiss opened #36 "Lack of flexibility and thoughts on refactorings"
Lotus Validations requires ownership of the objects constructor (and the objects attributes) in order to work properly/validate things. This makes Lotus Validations less flexible than other validation libraries. I'd like to be able to do things like the following:

[code]

Some refactoring that would help achieve this:

- Remove attribute tracking from the Lotus::Validations provided constructor,

[2015-01-03 08:54] jodosha commented on #36
@apotonick To clarify: @stevehodgkiss in his PR have decoupled `.attribute` from `.validates`.
The first one, keeps the old semantic for compatibility reasons with Lotus::Controller, but now it's optional to use. The latter, skips the attribute definition, and only provides a validation DSL.

Would those changes serve to your purpose?

[2015-01-03 10:28] apotonick commented on #36
@jodosha That is exactly what I need in Reform! That way, your `#validate` can use Reform's accessors! :beers:

[2015-01-03 13:50] jodosha commented on #36
@apotonick :beers:

[2015-01-05 09:56] jodosha commented on #36
Closed by #37
/cc @apotonick

[2015-01-05 09:56] #36 closed

[2015-01-05 10:32] apotonick commented on #36
Great, I am thinking about replacing AM::Validations per default in Reform with Lotus' implementation.

[2015-01-12 11:01] gotar opened #44 "Validation inside model do not work"
Using lotus-utils 0.3.3
Using sequel 4.18.0
Using lotus-model 0.2.0
Using lotus-validations 0.2.2

[code]

[2015-01-12 13:00] AlfonsoUceda commented on #44
another example fails:

[code]

[2015-01-12 15:22] #44 closed

[2015-01-12 17:16] #35 closed

[2015-03-04 14:07] plukevdh opened #52 "Compatability with Lotus::Model/Entity"
Seeing consistency break down when including/using validations with `Lotus::Model`'s `Entity` mixin. The interface to a defined entity changes subtly so as to break expectations. See the following example:

[code]

Vs the output of:

[code]

I can note that if I specify `attribute :id` at the same time as the validators, I can get it to return the id as well, but this is not consistent with how Lo

[2015-03-04 14:18] plukevdh commented on #52
One more note, that is more confusing as the docs indicate this ought to work:

[code]

[2015-03-22 14:26] jodosha commented on #52
@plukevdh Hello and thanks for sharing this problem. It absolutely deserves a fix. My plans were to include it with 0.3.0, but the release date is tomorrow, and we don't have enough time to do it now.

I tried to write a patch on the fly, but it deserves a better investigation. I hope it won't be a problem if we postpone the fix a bit. Thank you :smile:

[2015-03-24 12:39] PaBLoX-CL opened #54 "Default values for attributes?"
I was using `lotus/validations` in my gem, I liked the syntax sugar of attribute, with their validations. But I found out that there's no way to include default data. It seems (to me at least) something basic, so maybe I'm just missing something obvious (I read the verbose explanation on how to use only the validations, but using that I have to sacrifice almost all the sugar).

Is there already a

[2015-03-24 15:27] AlfonsoUceda commented on #54
@PaBLoX-CL could you provide an example where the default options is useful?

[2015-03-24 16:21] PaBLoX-CL commented on #54
Sure, thought I believe I didn't explain it too well :/, hopefully it will be clearer after the example:

[code]

I basically meant to create default values when instantiating the class.

Right now, I'm using this:

[code]

[2015-03-24 16:25] AlfonsoUceda commented on #54
I think is useful provide default values, what do you think @jodosha @joneslee85

[2015-04-07 08:25] jodosha commented on #52
@plukevdh Would you mind to check if the PR above fixes your issue? Thank you!

[2015-04-07 08:36] jodosha commented on #54
@PaBLoX-CL Hello and thanks for starting this discussion.
I see validations like a way to deal with user input for a specific use case, [not to build models](http://lucaguidi.com/2014/10/23/introducing-lotus-validations.html). In your example, you're clearly using validations to define a business rule.

I'm not sure if this proposal is a good idea, but I'm here to listen. Would you mind to expand

[2015-04-07 15:11] plukevdh commented on #52
Can do. Sorry for the delay. I'll update here as soon as I have a chance to run.

[2015-04-09 01:09] PaBLoX-CL commented on #54
I totally understand your point and I agree with it.

The problem is that in my case, I'm just requiring lotus validations, and that specific macro (`attribute`), creates the setter and the getter method. In fact, the object created belongs to `Attributes::Utils` (at least in the example above).  I was not actually speaking about building models...

Oh, and no, it's not that painful at all, we pro

[2015-04-09 10:16] jodosha commented on #54
You made me smile :smile:

When I present Lotus at conferences, I always give this example. Think of a coffee machine that satisfies your laziness with its convenience: you push a button and it gives you an average coffee. Then think about an Aeropress, it requires a little bit of effort from you, but it's simple and the coffee is great.

The latter is the usage that you should expect when build s

[2015-04-09 10:16] #54 closed

[2015-04-18 09:03] #52 closed

[2015-04-18 09:03] jodosha commented on #52
@plukevdh We've merged that fixing PR because it looks good. Feel free to reopen this ticket if still doesn't work for you. Thanks.

[2015-04-21 16:51] danelowe opened #58 "Extracting nested attributes values as a nested hash"
I guess this may be expected behaviour, but thought I'd raise it as I've come against it a few times when trying to use Lotus::Validations to create form objects.

Given a Form Object e.g.

[code]

Running the following

[code]

Nets

`{:filter=>#<#<Class:0x007fb4fab8de70>:0x007fb4f9629908 @attributes=#<Lotus::Utils::Attributes:0x007fb4fac25658 @attributes={\"customer_name\"=>\"Buster\"}>>}`

This

[2015-05-04 11:37] #58 closed

[2015-05-04 11:47] jodosha commented on #58
@danelowe Hello, I'm sorry about this poor experience. I've just merged a PR that fixes this problem

In your case, it will return:

[code]

Please let me know if it still doesn't work for you. Thanks.

[2015-05-05 17:12] danelowe commented on #58
Hey @jodosha Thanks so much for looking into this. It seems to work, but it also seems another regression may have been introduced?

[code]

`lib/lotus/utils/hash.rb:31:in 'to_h': wrong element type Symbol at 0 (expected array) (TypeError)`

I guess it comes from Lotus::Utils::Attributes#_read_attribute.

If the value is an array, it responds to to_h, but will raise an error unless the array happe

[2015-05-06 09:15] jodosha commented on #58
@danelowe Sorry, you're right. :crying_cat_face: That's because latest versions of Ruby have introduced `Array#to_h`. Fix is on the way.

[2015-05-06 10:26] jodosha commented on #58
@danelowe Can you please try again with master? Thank you and sorry again for the troubles.

[2015-05-06 10:27] danelowe commented on #58
@jodosha My tests are now passing :tada: thanks!

[2015-07-07 08:40] pascalbetz opened #65 "Documentation: Acceptance"
IMHO the documentation/example of acceptance validation has a small error.

It states that _truthy_ values will make this validation pass. Empty-string ```""```is _true_, in ruby.
Since ```acceptance``` forwards to ```Lotus::Kernel::Boolean``` empty String is considered _false_.

In other words: acceptance does not evaluate according to ruby truthiness but according to Lotus::Utils::Kernel.Boolean

[2015-07-07 08:51] jodosha commented on #65
@pascalbetz It's considered false because of browsers. They can send a blank value if `name` attribute is present, but the user hasn't entered any value. It would be counter intuitive to have an acceptance validation that doesn't catch this kind of situation.

Can you please open a PR with the fixed documentation? Thank you! :+1:

[2015-07-07 09:15] pascalbetz commented on #65
@jodosha i understand the behaviour and think it's correct! Just the reference to ruby truthiness seems to be wrong. I'll create a PR ASAP.

[2015-07-09 00:22] apotonick opened #67 "Error messages, I18N and Namespaces"
Reform 2.0 does support lotus-validations and I will push towards making this the default implementation. Thanks for this. :heart:

As discussed with Luca, I'm currently designing the process of generating an (i18nized) message string from an `Error` object. I do this in Reform first, and will then extract it to this gem.

Consider the following object for a nested field `band.label.name`.

[code]

[2015-07-09 00:35] apotonick commented on #67
So, to make it a bit clearer: The API I'm dreaming of is as follows.

[code]

My point here is that Reform will be responsible to provide the `@namespace`, then calls `Error#to_s` and the rest happens in Lotus. Is that cool?

[2015-07-09 06:51] jodosha commented on #67
@apotonick Thanks for following up our discussion.

My idea for Lotus::Validations as a standalone lib, was something like this:

[code]

If `I18n` gem is present, try to find a translation for the given `i18n_key` (eg. `"form.name.blank"`), otherwise fallback to `message`. This last method is a default error message, such as `"Name can't be blank"`.

I'd get rid of `#to_i18n_s`. Imagine you're it

[2015-07-09 06:55] #65 closed

[2015-07-09 08:29] apotonick commented on #67
Oh yeah absolutely, @jodosha ! I as a Trb representant am only interested in the `#to_s` method, so I'm totally fine with a conditional `to_s` as long as I get a message back! :wink:

The `to_i18n_s` was more a conceptual thing...

Anyways, what about the namespace? Would that work for you the way I specified it? I don't really care about the details which paths get searched when, etc, but if you'

[2015-07-09 11:00] jodosha commented on #67
@apotonick

#### Namespace

For the namespace there is a pending issues about [composable validations](https://github.com/lotus/validations#composable-validations).

If we have a module `EmailValidations` that is included into `Signup`. Which is the expected starting value for the namespace: `email_validations.*` or `signup.*`? What if I want to have two different messages for these two cases? If

[2015-07-09 11:32] apotonick commented on #67
Reverse order:

### Validation names

The less mapping, the better! Happy to use `presence` instead of `blank`, etc. Let's see where we go, I will play with it tomorrow.

### Namespaces

I do not really understand how composable validations are related to namespaces? :confetti_ball: The `:scope` option of I18N is perfect, thanks for pointing that out.

Let me play with it a bit, we're on the same

[2015-07-09 12:18] jodosha commented on #67
I assume that the top level entry for a namespace is the name of the class. Eg. if you have `Signup` that includes L::V, the namespace will start with `signup` and the complete name will be `signup.email.presence` etc..

Now, composable validations are a feature that encourages code reusability. As a dev, I want to have the freedom to define the message once, but be able to specify an exception. L

[2015-07-09 12:41] solnic commented on #67
Having error objects knowing how to dump themselves into a string message sounds cool but it's not gonna be so nice when you want a complex error message that needs more context than just the plain error object. I believe having a separate error obj => error msg mapping layer could be more powerful and simpler. Otherwise you're gonna add a lot of logic to errors making them too big and complex.

[2015-07-09 12:41] jeremyf commented on #67
This is from a [localization and translation planning document](https://github.com/ndlib/sipity/blob/c78173fe00844b6f979415443564a8a50f1a283b/architecture/localization-and-translation.md) that I spent some time on:

# Localization and Translation

The processing actions are represented through a Form object.
Each form object is associated with a processing entity.
At present processing entities re

[2015-07-09 12:43] jeremyf commented on #67
And here is [the implementation](https://github.com/ndlib/sipity/blob/c78173fe00844b6f979415443564a8a50f1a283b/app/presenters/sipity/controllers/translation_assistant.rb).

I opted to take inspiration from RDF regarding nomenclature (http://www.w3.org/RDF/).

[2015-07-09 22:29] apotonick commented on #67
@solnic Really good point! What about a very very very basic `#to_s` implementation? You can still use the `Error` instances outside if you want to compile complex messages that need multiple errors.

We do that in Reform all the time: run custom validations that access `errors` and then `add` new, "custom-made" errors.

@jeremyf I would refrain from using the ActiveModel API - I find it incredibl

[2015-07-10 08:45] jodosha commented on #67
@solnic @apotonick Which is the integration point for that? I remember you that the basic goal is to provide a simple usage like this:

[code]

This will give the power of get both standard or customized error messages.

Because `Error` has informations such as attribute name, nested namespace, violated validation, expected and current value. One solution could be that devs will _present_ errors a

[2015-07-10 09:43] solnic commented on #67
I wouldn't make error responsible for coercing itself to string and I don't really care it'd be "idiomatic ruby". Generating error messages can be pretty complex and I'd prefer to have a separate object responsible for that. I would also prefer to have one way of serializing errors into string messages vs "oh, if it's simple you just `to_s` otherwise you do something else" because it would result

[2015-07-10 10:28] apotonick commented on #67
I like your point about not polluting the `Error#to_s` method, @solnic.

What about this?

[code]

This delegation is minimalising the pollution of `Error` and, at the same time, allows other decorators to be used.

[2015-07-12 22:27] solnic commented on #67
@apotonick this couples error to a specific renderer implementation :(

[2015-07-12 22:39] apotonick commented on #67
@solnic Yeah but somewhere the messages need to be compiled _per default_, and as I said, you could do as follows if you don't like my specific renderer.

[code]

[2015-07-13 16:03] solnic commented on #67
@apotonick wdym that they need to be compiled per default? they need to be compiled whenever you need to display them, so I don't see any reason why you would want to couple `to_s` to a specific rendering implementation.

[2015-07-13 22:40] apotonick commented on #67
Haha I love this discussion! :laughing:  Lotus _has_ to ship with one specific implementation, otherwise the validations are useless for most people - you can't tell people to write their own message compilation with I18N, etc. (is that what you mean or am I wrong here?).

I totally agree that this should _not_ sit directly in `Error#to_s` but in a separate renderer class. Now, all we need to do i

[2015-07-15 11:16] solnic commented on #67
If you do `def to_s; Renderer.new; end` then it doesn't feel like it's easy to swap with a different strategy. I'm also not sure why lotus has to ship with one specific implementation. To me it seems like an integration thing - lotus-validations can be integrated with a view rendering layer or a json api layer etc.

[2015-07-22 08:58] jodosha commented on #67
@solnic @apotonick I see in this case `#to_s` as a _textual, human friendly representation of the internal state of the error object_. For this I don't see nothing wrong to implement this strategy there.

Well, in an ideal world I would have chosen a presenter strategy like:

[code]

But, this isn't possible because there isn't a hook mechanism to do this internally. The only solution that I see a

[2015-07-22 10:58] solnic commented on #67
lotus-validations could ship with integration for various use cases like rendering error messages in html templates, json responses, using I18n etc. There's absolutely no need for `Error#to_s` to exist except for debugging inspection maybe.

You can have an "error rendering plugin" for validators that could do something like `validator.error_messages.each` but keep `errors` pure.

Also remember th

[2015-07-27 15:51] pascalbetz commented on #67
My two cents:

I don't think that ```to_s``` is the right way to get i18n aware error messages. Error objects should just contain the information that can be used to render a user friendly error message.
If the syntax for views is too verbose, then this can be solved by a helper.

[2015-08-13 02:26] sockmonk commented on #67
So today, is there any way at all to specify a custom user-facing error message with lotus validations? I'd love to at least consider using it, but this would be a deal breaker if there isn't any way at all yet. At least until this gets solved.

[2015-08-13 02:50] joneslee85 commented on #67
@sockmonk not atm

[2015-08-13 03:00] apotonick commented on #67
I started working on it yesterday, here is my fork branch: https://github.com/trailblazer/lotus-validations/tree/error-messages

[2015-08-13 03:37] joneslee85 commented on #67
@apotonick I want to :kiss: you

[2015-08-13 03:38] joneslee85 commented on #67
@apotonick can you please create a PR so we could follow your progress? TIA

[2015-08-13 04:07] apotonick commented on #67
Once it's presentable! :kiss:

[2015-09-28 15:53] ianks opened #72 "Custom validation plugin API"
Firstly I would like to say that I *love* Lotus validations. I have actually almost entirely replaced my ActiveModel validations with it, and it has been a dream to work with.

Since I use Lotus separately from the rest of the Lotus framework, there is one feature I really would love to have: the ability to create custom validations. Looking in the source, there are a finite number of accepted val

[2015-10-06 15:56] fbernier commented on #67
Hey, anything we can do to help ship this?

[2015-10-08 15:03] jodosha commented on #67
@fbernier I've started working on this. Please have a look at: https://github.com/lotus/validations/tree/error-messages

[2015-10-12 07:59] jodosha commented on #72
@ianks Hello and thanks for sparking this discussion. This is something that we want to do for sure before 1.0.

We didn't found an elegant/convenient way to describe custom validations, but we look for new ideas. Would you love to contribute on the brainstorming? Eg. how do you imagine the API? Thanks! :+1:

/cc @lotus/core-team

[2015-10-16 14:57] hlegius opened #75 "[Question] Validation Object receiving key arguments as string"
I was playing with Validations within a Rails app when got something interesting:

[code]

In other words: if my `params` has keys as symbol, it works fine; if keys are strings, won't work and also, `.errors` returns an empty `@errors`.

I don't know if is an expected behavior or a non-implemented and could be a feature to be added.

Any thoughts?
Thanks in advance!

[2015-10-19 11:06] steventebrinke opened #76 "Nested validation of arrays"
Lotus allows validating nested objects, but it would be very nice if arrays allow nested validation too. Often, the entries of an array have a specific object structure too.

[2015-10-19 12:45] jodosha commented on #76
@steventebrinke Please have a look at: https://github.com/lotus/validations/pull/68#issuecomment-148702223

[2015-10-19 12:45] #76 closed

[2015-10-21 02:28] hlegius commented on #75
Investigating this in depth I've found that this error raises only when `params` is an `ActiveController::Parameter` class. This isn't a bug itself, IMO, just a case of implicit casting from Rails class into hash (params). If `params` got converted into hash before pass it to Lotus Validator class, everything works fine.

[2015-10-21 07:22] jodosha commented on #75
@hlegius Hello :smile: To guarantee compatibility with other libs, we [internally coerce](https://github.com/lotus/validations/blob/master/lib/lotus/validations/attribute_definer.rb#L513) to `Hash`.

Now, because you have decoupled attributes definition from validation rules, I guess that mechanism is circumvented. Can you please try if:

  1. That coercion happens
  2. If you merge attributes and

[2015-10-21 11:36] hlegius commented on #75
@jodosha I've modified to "one line" mode as follows:

[code]

but, it didn't work. Same problem. I've debugged a bit and found this:

![screen shot 2015-10-21 at 09 29 34](https://cloud.githubusercontent.com/assets/36469/10635281/56519f6a-77d6-11e5-937d-b4a614980a2c.png)

Running it within Rails Controller, before Lotus Validation has called, I've got the same

![screen shot 2015-10-21 at 09 34 3

[2015-10-21 11:36] #75 closed

[2015-10-21 11:45] jodosha commented on #75
@hlegius Thanks for the update. Is that probably related to ActionController Strong Parameters. IIRC they whitelist params too.

[2015-10-28 17:52] caspg opened #77 "param not required is still validated"
In controller I have following code:
[code]

Sending request without `:path` param, in fact sends an empty `:path`:

`params.to_h` returns `{ "path"=>"" }`

Validation fails due to format constraint.

[2015-10-28 18:47] caspg commented on #77
Since we can get an empty string (but we don't want to check if this param is present), we could use for example `#blank_value?` method and change:
https://github.com/lotus/validations/blob/master/lib/lotus/validations/attribute.rb#L213-L215
[code]
to:
[code]

@jodosha  What do you think?

[2015-10-28 23:35] joneslee85 commented on #77
@caspg thanks for the bug report, can you verify if this also the case for using lotus/validation alone with other framework?

[2015-10-29 08:20] caspg commented on #77
@joneslee85 I'm not sure how can I use lotus/validation for params in other frameworks. But sinatra and rails, also return empty string ("") as a param, when you submit empty input. So I believe that problem will be the same. That's why I think we should check in `skip?` method if value is nil or empty string.

[2015-10-29 08:57] jodosha commented on #77
@caspg Thanks for reporting this issue :+1:

That strategy that involves "blank" fixes your problem, but creates a new one.

[code]

But you give us a great hint :sparkles:

Please check if the attached PR fixes your case.

[2015-10-29 09:48] caspg commented on #77
@jodosha With PR it works great, thanks :smiley:

[2015-10-29 11:01] #77 closed

[2015-10-29 11:01] jodosha commented on #77
@caspg :tophat:

[2015-11-05 14:54] magicalbanana opened #79 "PORO validator"
This would be a feature request but would be nice if we could implement this to be just a PORO validator as well.

Perhaps do something like Virtus where you can set the constructor or the mass assignments.

[2015-11-06 14:38] jodosha commented on #79
@magicalbanana Hey, can you please tell us more about your idea? Thank you!

[2015-11-06 14:46] magicalbanana commented on #79
@jodosha take a look at [Virtus](https://github.com/magicalbanana/veto) it's a good PORO validator really and I like the idea that the validation is handled outside or is of a seperate concern.

Because (correct me if I am wrong) but the idea of Lotus is to make it modular right? So the validations should not create the attributes but rather just validate the attribute when passed an entity. Becau

[2015-11-08 00:07] darkbaby123 opened #80 "Conditional validations"
I found there's no conditional validations like `validates :name, presence, if: :some_condition`. IMO it's used very frequently. Curious the reason it's not implemented in Lotus validations. Is it already in plan? Or there's other way you recommend more to do the same thing?

[2015-11-08 21:59] joneslee85 commented on #80
@darkbaby123 atm there is a PR #71 that allows users to define custom validator which can work around this issue.

I like your suggestion and open for the PR submission. The validator should take in a proc/lambda OR the symbol name of a private condition method

[2015-11-09 08:57] jodosha commented on #80
@darkbaby123 Hello and thanks for this suggestion. We won't to support conditionals for action callbacks, validators, because they increase the complexity both of the frameworks and applications.

If you use validations [around use cases](http://lucaguidi.com/2014/10/23/introducing-lotus-validations.html), and not in entities/models, you'll almost eliminate this need. Now, I don't know your specif

[2015-11-10 01:40] darkbaby123 commented on #80
@jodosha I watched [your blog post](http://lucaguidi.com/2014/10/23/introducing-lotus-validations.html) before I submit this issue, and I'm not use validations in entities/model level in my recent project (all plain Ruby object + validation mixin, it's a Rails project). I admit that most of time I don't need the conditional validations, but they're still useful in some of my cases:

## Case 1

I h

[2015-11-10 01:51] darkbaby123 commented on #80
BTW maybe out of the topic, but in these days I'm also thinking about what is a good validation system. I checked Ruby/Node/PHP implementations and I really like [Laravel's validation](http://laravel.com/docs/5.1/validation) because of 2 reasons:

1. It separates validation rules and validator. A rule (e.g. required/digits) just validate a value and does not care about what object attribute it app

[2015-11-10 09:15] jodosha commented on #80
@darkbaby123 I made a mistake by evaluating this feature. My apologize.

Now, we could think of a better design that uses composition rather than a DSL. I still believe that `:if`/`:unless` once introduced, will go soon out of hand.

I'm reopening this, and inviting other devs who asked for the same feature, to better explain their needs and discuss together.

[2015-11-10 09:20] darkbaby123 commented on #80
@jodosha Thank you, you're really open minded :smile:

[2015-11-10 09:42] pascalbetz commented on #80
I understand the concern about complexity. And most of the times it can be modeled in a different way. But sometimes the design decision is not up to the developer. So i guess this might be useful.

[2015-11-10 10:57] jodosha commented on #80
@pascalbetz Thank you. In my understanding from chat conversation, you had a concrete use case. Is it correct? Would you love to bring into this thread? Thank you!

[2015-11-10 11:13] solnic commented on #80
:+1: for rethinking validation DSL and reconsidering. I'm absolutely convinced the DSL introduced in Rails was never-ever a good idea. Validations can be very complex, a DSL is limited, trying to make it flexible by introducing tons of options *is not the way to go*. Which is actually a general issue with *any* DSL. It's interesting that @darkbaby123 mentioned Laravel's validation with validators

[2015-11-10 12:19] pascalbetz commented on #80
@jodosha
I can not point out one single project. I just had the requirements of conditional validations in various projects.

* a user profile form. If the password is changed, then the confirmation needs to be provided (and match) as well.
* if some fields need to be filled out depending on the age/birthdate
* an API endpoint as described by @darkbaby123
* ...

@solnic i don't know Laravel's vali

[2015-11-10 14:19] hlegius commented on #80
_Spoiler_
:+1: for predicates within validators
:-1: for `validates :bar, if :foo?`

Laravel uses php's `lambda` to build conditional/complex validations, some kind of:

[code]

Those predicates are composed within main attribute and does not rely on DSL's to build it.

[2015-11-10 15:07] solnic commented on #80
@pascalbetz boils down to what @hlegius just wrote :)

I'll be experimenting with a validation library soon, I can share some API ideas. The only reason why I may introduce a DSL is to reduce boilerplate required for composing validations, but I'm strongly against AM::V-like validation DSL, it's convoluted, inflexible and introduces ambiguity in many places which is a nonsense in a validation worl

[2015-11-10 16:20] pascalbetz commented on #80
@solnic

let me know when you can share something. You've got me interested:-)

@hlegius thanks.

[2015-11-10 17:35] hlegius opened #81 "Empty parameter values with defined size attribute are not valid"
Hello there!

I've found a bug within `size` and blank values. If I define `size` attribute and try to pass the attribute as blank/empty, it will fail.

[code]

[code]

How should it be, IMO:

[code]

If you guys agrees, I'd like to fix it :+1:

[2015-11-10 18:12] solnic commented on #80
@pascalbetz will do :) the work will be happening in [dry-validation](https://github.com/dryrb/dry-validation) repo (current prototype will be replaced)

[2015-11-11 01:55] darkbaby123 commented on #80
@solnic can you tell me the link for Elixir talk? I also checked how validation works in Phoenix & Ecto, but I think it's not the best choice to use the same thing in Ruby land. But I'm very interested in how Jose think about DSLs.

Share some of my thinking about validation rules and validators:

A validation rule just check if a value is valid and nothing more. It doesn't care how to get the val

[2015-11-16 15:14] jodosha commented on #81
@hlegius Please fix it. I guess this problem was introduced by myself with this commit: https://github.com/lotus/validations/commit/f0b90201bfba9947744703c0e9313be5080eb785

Can you please verify and find a solution for both the issues? Thank you very much! :100:

[2015-11-16 17:20] hlegius commented on #81
@jodosha sure! :+1:

[2015-11-19 15:15] solnic commented on #80
OK I'm getting close to wrap up the rewrite of dry-validation. You can check out its DSL [right here](https://github.com/dryrb/dry-validation/blob/rewrite/spec/integration/validation_spec.rb#L4-L27). It's based on simple (and stateless!) predicate logic and rule composition. Error objects are serializable to an AST for further processing, so various error messages can be produced (this needs a bit

[2015-11-20 07:25] pascalbetz commented on #80
Looks like the spec mentioned above has moved: https://github.com/dryrb/dry-validation/blob/feature/predicate-set/spec/integration/validation_spec.rb

[2015-11-22 09:17] darkbaby123 commented on #80
Just checked the repo and the spec is moved to https://github.com/dryrb/dry-validation/blob/master/spec/integration/validation_spec.rb

[2015-11-26 15:41] #81 closed

[2016-01-06 20:17] Lytol opened #84 "Clarification on truthiness of empty string for acceptance validation"
The [README](https://github.com/lotus/validations/blob/master/README.md) gives an example of the empty string evaluating to `false` for truthiness on acceptance validation:

    signup = Signup.new(terms_of_service: '')
    signup.valid? # => false

However, it currently evaluates to `true` (see <https://github.com/lotus/utils/blob/master/lib/lotus/utils/kernel.rb#L911>). I'm happy to submit a PR,

[2016-01-06 20:28] AlfonsoUceda commented on #84
Hi @Lytol I was testing the message and it evaluates to false against master and 0.4.x branches

[2016-01-06 21:45] Lytol commented on #84
I added a failing test to indicate: <https://github.com/lotus/validations/compare/master...Lytol:bug_empty_string_acceptance>

[2016-01-07 16:52] deepj commented on #79
And what `Lotus::Validations` replace by [Dry::Validation](https://github.com/dryrb/dry-validation)?

I see here a good fit with philosophy of Lotus. And it can be used more widely such as forms, params and so on...

[2016-01-07 17:00] magicalbanana commented on #79
Also, I've am in the process of making mine as well [PoroValidator](https://github.com/magicalbanana/poro_validator)

If you guys could give feedback that would be great. It's still WIP but the core classes are already there, I am just now making the validations.

[2016-01-07 17:31] jodosha commented on #79
@deepj Starting from next week, I'll explore Dry::Validation for that purpose :+1:

[2016-01-08 22:08] pascalbetz commented on #84
@Lytol i created a PR for this. Only after i already coded the test + fix i found this issue. Sorry.

https://github.com/lotus/validations/pull/85

@AlfonsoUceda there are various examples in the code and at least one lists empty string as "false".

This seems to be wrong: https://github.com/lotus/validations/blob/master/lib/lotus/validations/attribute_definer.rb#L79 as ruby truthiness does not in

[2016-01-13 10:35] jodosha commented on #84
Fixed by #85 Thanks to @pascalbetz

[2016-01-13 10:35] #84 closed

[2016-01-13 14:12] solnic commented on #79
Thanks for suggesting dry-validation. We'll be looking into how it can help Lotus. One thing I should mention is that dry-validation is for validating *data*, for now we only support objects responding to `[]` but next version will support validating objects through attr readers, too. Personally I don't think it's gonna be a common thing to do, but since it is simple to support, we're gonna add th

[2016-01-13 14:19] jodosha commented on #79
@solnic Thank you :+1:

[2016-01-15 00:28] cllns opened #86 "Validator for `size_at_least`"
Right now, if you want to validate a size is greater than a value, (it seems) you have to pick an arbitrary upper-bound for the Range.
[code]

In most cases this will be fine. But let's say you want to make sure a blog post is at least 5 characters long, and during development you pick an arbitrary upper-bound of 1000, let's say. It could be a while before you realize that you're limiting the size

[2016-01-15 01:27] cllns opened #87 "Enforce validations at Repository-level"
I'm working on converting a Rails app to Lotus piece-by-piece. I'm starting with  `lotus-model`, and in the process, I've included `lotus-validations` as well.

The problem is that I can create a new `Article` entity, and persist it via the `ArticleRepository`, even if the entity is invalid. I have to remember to always manually check whether the Entity is `valid?` before persisting it.

What I di

[2016-01-15 06:11] joneslee85 commented on #86
IMO, I would not add more complex predicates into lotus/validation anymore.

I think for such case you could do a custom proc/lambda way.

[2016-01-15 08:37] jodosha commented on #87
@cllns This is intentional. The bottom line is: ask to persist data **only** when you're sure it's valid.

[2016-01-15 08:37] #87 closed

[2016-01-15 08:40] jodosha commented on #86
@cllns I agree with @joneslee85

You can still obtain that validation logic with `:size`. It hasn't that **exact** semantic of `:size_at_most`, but these cases should be handled by custom validations, not by other DSLish options. :wink:

[2016-01-15 08:40] #86 closed

[2016-01-15 15:12] cllns commented on #87
Ah, yes. I see that here too: https://github.com/lotus/model/issues/273#issuecomment-168395784.

I see. This still seems strange to me, but maybe I've just internalized how Rails does things, so it's hard for me to envision another way :) To me, It feels like a burden to make the user remember to manually check validations each time they persist something.

Maybe this should be noted on the README

[2016-02-12 22:30] hlegius opened #90 "Format with empty/blank values does not coerce to nil"
Hello,

As described by @wafcio in [his gist](https://gist.github.com/wafcio/164b1191d2d689bfa088), he was trying to validate a value with `format` attribute. If pass an empty string, format returns `valid true` (which is correct), but does not coerce into `nil`. If we provide `type: Integer` attribute, it will return 0, which isn't the same of nil of blank.

[code]

I was wondering if we should i

[2016-02-15 09:09] jodosha commented on #90
@hlegius Hello and thanks for taking care of this. Your suggestion is good and can work. If it won't take you too much time please implement it. :+1:

In the long run, we should probably add two different layers of validations. A "HTTP" layer that solves the problem of "everything is a string", which can be used for `Action::Params` and this kind of problems reported by @wafcio.

A second layer fo

[2016-02-17 00:49] hlegius commented on #90
@jodosha

I was wondering if #40 isn't the opposite of the problem I've described above. Maybe if we coerce empty string to `nil` will break again that issue #40. Or, maybe I've just don't get what went wrong on that issue. Suggestions?

In both cases (I am just crazy and that issue is not the opposite) or we need to think a bit more, I can handle it. o/

:+1: :100:
It will be a interesting improv

[2016-03-30 17:08] solnic commented on #72
FWIW here's how you can do it in dry-validation already and it doesn't require any special API:

[code]

Notice that you compose custom predicates with built-in ones, so you can leverage that easily w/o any special code.

[2016-03-30 17:11] solnic commented on #90
In dry-validation this problem has been solved by giving you an explicit way of specifying that a value can be nil, ie:

[code]

Notice that it properly coerces the value based on your expectation.

[2016-05-16 08:50] #72 closed

[2016-05-16 08:51] jodosha commented on #67
Closed by #100

[2016-05-16 08:51] #67 closed

[2016-05-16 08:51] jodosha commented on #79
Closed by #100

[2016-05-16 08:51] #79 closed

[2016-05-16 08:52] jodosha commented on #90
Closed by #100

[2016-05-16 08:52] #90 closed

[2016-06-01 14:35] jodosha commented on #80
@darkbaby123 We finally coded a solution for your problem.

Please have a look at: #102 - For that PR I used your examples to implement the _high level rules_ feature. https://github.com/hanami/validations/blob/814233a3a45e3fefe12e3d2f28850e59504a1b76/test/rules_test.rb

[2016-06-01 14:49] #80 closed

[2016-06-01 22:43] eduardodeoh opened #103 "undefined method `merge' for #<Dry::Validation::Messages::Namespaced"
So, i'm trying to use hanami-validations with Rails 5 app. I have a custom predicate and i need a custom message error for this.

This code:

[code]

generate this error:

[code]

Is this a bug?

**Update:** The problem above occurs with inline custom predicates only. The same predicate with global custom predicate works.

[2016-06-02 08:05] jodosha commented on #103
Hi Eduardo,
Please make sure of include master versions of dry-* gems. As an example, have a look at the Gemfile of this repository.

Does this solves the problem for you?

http://lucaguidi.com

[2016-06-02 14:27] eduardodeoh commented on #103
@jodosha my Gemfile:

[code]

but I have the same problem.

[2016-06-14 17:24] vyper opened #104 "+required+ is not a valid predicate name (ArgumentError)"
# Gemfile

[code]

# testing.rb
[code]

But, when I ran command `bundle exec ruby testing.rb`:

[code]

[2016-06-15 09:22] jodosha commented on #104
@vyper You should add the following lines to you `Gemfile:

[code]

---

This may possibly not work yet, because of this regression: https://github.com/dry-rb/dry-validation/issues/183

[2016-06-15 09:24] jodosha commented on #103
@eduardodeoh Thanks for the update. Right now we have a blocking issue to solve this problem: https://github.com/dry-rb/dry-validation/issues/183

We could possibly consider to remove inline predicates because they aren't proven to be stable.

This code is still changing, thanks for understanding. 😄

[2016-06-15 13:14] vyper commented on #104
@jodosha branch 0.6.x does not have the 34c34dfa416a7433df8226903f4a515200067246. I need to use master branch.

[2016-06-15 13:27] vyper opened #105 "Does not validate when attribute is set using accessor"
[code]

# Gemfile
[code]

[2016-06-15 13:28] jodosha commented on #104
@vyper I know. 😉  I'm not suggesting to use `0.6.x`, but to add the the gems listed in the (edited) `Gemfile` above. That would enable `0.7.x` series of `hanami-validations`.

[2016-06-15 13:30] vyper commented on #104
But branch 0.7.x not exists @jodosha! d:

[2016-06-15 13:35] jodosha commented on #105
This isn't supported anymore in `0.7.x` series of `hanami-validations`, because we want to encourage composition.

You can still achieve whitelisting by using params (`#to_h` is your friend). Alternatively, I'm working on a new version of `Hanami::Interactor` that supports validations.

[2016-06-15 13:35] #105 closed

[2016-06-15 13:38] jodosha commented on #104
@vyper you're right. Sorry for the misunderstanding but I'm jumping between GH issues, code and chat. It's a bit confusing.

Anyway, I can't merge 34c34df in `0.6.x` otherwise the build will break because of https://github.com/dry-rb/dry-validation/issues/183

---

Why do you need that behavior? I introduced for an experiment I'm doing with interactors.

[2016-06-16 18:41] eduardodeoh commented on #103
@jodosha No problems. Thank you for your support and keep your great work at hanami-validations. It's awesome.

[2016-07-01 12:45] jodosha commented on #104
Fixed by #106 🎉

[2016-07-01 12:45] #104 closed

[2016-07-01 12:49] vyper commented on #104
Thanks! (:

[2016-07-06 14:26] jodosha commented on #103
Closing this as stale ticket. @eduardodeoh Please let us to know if it still doesn't work.

[2016-07-23 22:10] babakness opened #108 "Validate using YAML string instead of file?"
Hello, is it possible to use a YAML string instead of a file? We want to store YAML by other means than file storage.

Thanks.

[2016-07-24 03:15] cllns commented on #108
@babakness If you use the `i18n` gem, which `hanami-validations` supports, you should be able to do this. https://github.com/hanami/validations#internationalization-i18n By default that gem uses YAML files, but it's extensible.

[2016-07-27 17:51] folkengine opened #109 "Validations from Initializer"
I recently tried updating my gem to 0.6.0 and noticed that I started receiving  "undefined method `validates'". I've had no success trying to update my Class to validate inside a constructor with a validations block as documented in the README. Is this functionality no longer supported?

Here's the code that works fine with version 0.5.0.

[code]

[2016-07-27 20:26] cllns commented on #109
@folkengine There's a whole new syntax for validations introduced in `0.6.0`. It's more flexible and faster, but it does require changing your old validations, as the old syntax is no longer supported.

Take a look at the current README for notes on this new syntax. The `validations` block goes *outside* of the constructor, just in the class definition (not inside any method definition).

You'll n

[2016-07-27 21:32] cllns commented on #109
I wrote up a quick class but I tried it out and it didn't work, so I edited it out of my last response.

This should work:
[code]

The trouble is that when you include `Hanami::Validations`, it expects the initializer to take a hash of attributes.

This is a different approach than what you had, where you would throw an error instead of creating an invalid object. Here, we let the object be create

[2016-07-27 22:56] solnic commented on #109
Shorter version:

[code]

[2016-07-29 15:42] folkengine commented on #109
Guys,

Thanks for the quick response. I think I've figured out how to throw the exception from the constructor:

[code]

[2016-08-02 17:05] cllns commented on #109
@folkengine Glad you figured it out. If you're all set, please close this issue :)

[2016-08-02 17:57] #109 closed

[2016-08-02 18:09] cllns commented on #109
Woo hoo! If you need any more help, feel free to ask in our [Gitter chat](gitter.im/hanami/chat) :)

[2016-08-02 20:50] solnic commented on #109
@folkengine just curious, what's the reason for raising in the constructor? It seems like you want strict typing, not validation.

[2016-08-03 20:07] folkengine commented on #109
@solnic I like having my domain objects policing themselves as to what's valid. I like having my APIs do the work rather than forcing the caller into making another step. It feels cleaner to me to validate through the constructor rather than having an extra step to tell me something that I should already know.

Strict typing wouldn't give me anything over what Ruby has. A String can still be empty

[2016-08-05 08:40] joneslee85 commented on #108
@babakness thanks for the question. Like @cllns has answered in the last comment, this gem wraps the `dry-validation`, if you want to use different backend, you could set to use `i18n` (please see http://dry-rb.org/gems/dry-validation/error-messages/) and write your own extension backend for `i18n`

[2016-08-05 08:40] #108 closed

[2016-08-08 08:27] jodosha commented on #108
@babakness YAML isn't practical for lookup. Indeed all the libraries use this format because it's convenient to store data in a file, but at the startup, a library parses that YAML payload into a Ruby Hash (which is better for lookup).

[2016-08-19 08:17] bolshakov commented on #103
Hello, gentlemen

I still experience this issue. My validation looks as follows:

[code]

[code]

[code]

[2016-08-19 08:34] jodosha commented on #103
@eduardodeoh Okay, thanks.

[2016-09-21 18:14] wuarmin opened #113 "Rule is not working for some reason"
Hanami Validations are great! I played around with following code and cannot figure out, why the rule location_precence is not working. The rule is broken by data (remote is true and location is set), but success returns true. What have I made wrong?
[code]

Thx

[2016-09-21 18:46] mereghost commented on #113
The example lacks the validation on `location`. Just add `optiona(:location).maybe(:str?)` and it should work.

[2016-09-22 12:05] wuarmin commented on #113
Thank you. That was the solution!

[2016-09-22 12:05] #113 closed

[2016-09-24 17:13] wuarmin commented on #103
Just for info: the issue is limited to Inline Custom Predicates. Global Custom Predicates are working as expected.

[2016-10-27 16:49] akeuk commented on #24
It's not working on v0.6.0.

From @luislavena

[code]

What should I do for retrieve only whitelisted attributes.

Thanks.

[2016-11-02 00:17] roupen opened #114 "base class inheritance for validations"
dry-validation has the ability to inherit a base schema as documented here:

http://dry-rb.org/gems/dry-validation/basics/working-with-schemas/

To allow for validations from a base schema to apply to the current and then in the block you can describe any additional validations. It doesn't seem like we have the ability to take advantage of this feature. It would probably involve doing something li

[2016-11-03 00:13] beauby commented on #114
An other option (the one I was outlining on the chat), would be to have the `validations` method behave like the `params` method in `Hanami::Controller`, in the sense that it would accept either a block for defining in-line schemas, or a schema object.

[2016-11-03 11:58] solnic commented on #114
How about just having this:

[code]

?

[2016-11-03 14:21] roupen commented on #114
@solnic Yes I think that would be the best solution!

[2016-11-03 19:07] beauby commented on #114
@solnic That does look good indeed. For the record, is it currently working?

[2016-11-03 21:37] solnic commented on #114
I don't know, try :)

On 3 November 2016 at 20:07:14, Lucas Hosseini (notifications@github.com)
wrote:

[2016-11-03 21:40] roupen commented on #114
I had already tried it didn't work :( when you do result.output it doesn't show all the attributes from the parent class which is why I was digging around to see how to accomplish inheritance. I believe the superclass' schema created by its validates block is overridden by the subclass's schema generated from its' validates block

[2016-11-09 12:10] jodosha commented on #103
@bolshakov Please check https://github.com/hanami/validations/commit/3bbbef9c77ae666dfea50ca426356b791315ce0f I added a test where it reproduces your failing case. It seems to work well. Please let me know if it doesn't.

[2016-11-09 12:51] jodosha commented on #114
@roupen I tried to implement this feature, but it turned out that is an error prone solution. Because if we explicit allow inheritance, there are other things we should take care of for children classes: shared and inline predicates, error messages, and rules.

At this time, I'm afraid we can't manage it, but I keep track of it for the future.

[2016-11-09 12:51] #114 closed

[2016-11-09 13:10] solnic commented on #114
Let's maybe pick this up once we're done with the model part. Inheritance is tricky in general, inheritance in validation objects is *even more tricky*. I'd like to see how we could improve dry-v itself to make inheritance easy-but-without-too-many-caveats - what we have already is pretty flexible, but I wouldn't consider it as "done".

[2016-11-16 14:08] rowlando commented on #103
I get the same error.

Ruby 2.3.1

[code]

[code]

[code]

When I run `ruby my_validator.rb` the console prints this error:

[code]

[2016-11-16 15:14] jodosha commented on #103
@rowlando Can you please try to run the tests for `hanami/validations` and share with us the results? Do they pass?

I'm interested into this: https://github.com/hanami/validations/commit/3bbbef9c77ae666dfea50ca426356b791315ce0f#diff-566f5ed8a23a936b2b725dc33587b914R86

Is there any difference with yours? Can you also please compare your `Gemfile.lock` pasted above, with the one that is generated

[2016-11-16 17:04] rowlando commented on #103
Yes, the tests pass for `hanami/validations`.

There's no difference with my code and the code in the specs except for the fact that the code is wrapped by specs. Is there some dependency that's loaded when the tests run that is allowing it to pass? Do you get the same error when test case is run outside of a test?

The Gemfile.lock generated for `hanami/validations` is the same except for the tes

[2016-11-17 08:18] jodosha commented on #103
@rowlando Thanks for checking. 👍

I spotted the problem: the tests are using anonymous classes `Class.new { }`, while you're using a concrete class. In your case `klass.name` returns a not `nil` result, which is used to compose the I18n keys (eg. `my_validator.url`).

---

I opened a PR with the fix, which makes your code to work well locally.

Can you please edit your `Gemfile` like this and retr

[2016-11-17 09:40] rowlando commented on #103
Nice one! That works for me. Thanks

[2016-11-17 11:04] jodosha commented on #103
@rowlando Thanks for checking again. Merging that then!

[2016-11-17 11:04] #103 closed

[2016-11-22 17:24] rowlando opened #117 "Is the conjunction of the array? predicate and another predicate expected to work?"
The following code outputs `true`:

[code]

When I change the addresses validation to:

[code]

the output is `true`.

However, when combine the predicates like this:

[code]

I get the following error:

[code]

Is a conjunction of the `array?` predicate and another predicate expected to work?

[2016-11-23 04:48] mereghost commented on #117
Hmmm... does the following work for you:

[code]

[2016-11-23 08:17] jodosha commented on #114
@roupen @solnic Agreed 👍

[2016-11-23 08:18] jodosha commented on #113
@mereghost Thank you for helping @wuarmin

[2016-11-23 09:56] rowlando commented on #117
@mereghost your suggestion doesn't work as I get a syntax error. When I rewrite it to:

[code]

it executes but `success?` returns `false` instead of `true`.

[2016-11-23 11:53] mereghost commented on #117
Sorry @rowlando . I just posted the snippet from memory and that can be a bit tricky. That does work:

[code]
I'm not sure if `dry-validation` macros can be mixed with regular predicates, but probably @solnic can explain it. That being said, I do find this version way more intent revealing. If you have an `AddressValidator` somewhere (for reuse), the `each` block can simply `schema(AddressValidato

[2016-11-23 15:14] rowlando commented on #117
@mereghost That snippet doesn't seem to execute the predicates in the each block. `success?` returns `true` when address is:

[code]

or

[code]

And I can confirm that it doesn't work in the form either:

[code]

where AddressValidator is:

[code]

[2016-11-23 15:43] mereghost commented on #117
Hmmm... that's some inconsistent behaviour, probably from `dry-validation` and macros.

I got your examples to work after some tinkering.

[code]

[2016-11-23 16:31] solnic commented on #117
this is a known issue, chaining macros is not supported. I may try to make it work, but if it turns out to be too complex, I'll just make it raise an error with some meaningful message. See https://github.com/dry-rb/dry-validation/issues/240

[2016-11-23 16:57] mereghost commented on #117
Thanks for the clarification, @solnic =)

[2016-11-23 20:25] rowlando commented on #117
Thanks @mereghost. Your working example really helped. Maybe the README could be updated with this example as it might help others (see https://github.com/hanami/validations/pull/118). It wasn't clear to me that this was how you could achieve my requirement.

[2016-11-24 12:59] rowlando commented on #117
Sorry, this isn't the end :-(

`success?` correctly returns false for the following code:

[code]

but `messages` errors:

[code]

Removing the custom predicate from AddressValidator and putting the rule as inline validation works.

Is using a custom predicate within a nested schema expected to work?

[2016-11-24 13:16] mereghost commented on #117
I think so, but there was some funny business going around inline predicates a while ago. Not sure if it was fixed (or if there was way to fix it at all), but IIRC the consensus was not to use them for now.

[2016-11-24 19:08] rowlando opened #119 "Custom message gets wiped out when inline predicate in use"
The following code outputs the custom message for name:

[code]

[code]

As soon as I introduce an inline predicate, the custom message isn't honoured, with the output as follows:

[code]

I have found a way around this for the time being:

[code]

Does anything spring to mind in terms of a fix?

[2016-11-26 11:39] solnic commented on #117
This should work:

[code]

we should raise an arg error when `each` receives `schema(some_schema)`

[2016-11-26 12:41] rowlando commented on #117
@solnic Neither works. The error is:

[code]

[2016-11-26 14:01] solnic commented on #117
@rowlando this is very weird because I tried it and it worked for me:

[code]

Maybe I missed something?

[2016-12-09 19:52] AlfonsoUceda commented on #119
@rowlando thanks for the issue, you are welcomed to create the PR to fix the bug ;)

[2016-12-09 20:12] cllns commented on #119
Wonder if @solnic or @AMHOL have any insights? Could this be a problem in `dry-v`?

[2016-12-09 20:32] solnic commented on #119
@cllns it's *probably* an issue in hanami-validations, because inline-predicates with custom messages is a feature in hanami-validations. We can look into making it better (because the code that handles messages in hanami is quite complex) and fix that problem at the same time.

[2016-12-09 20:41] cllns commented on #119
@solnic Great, thank you for your input :)

[2017-01-11 14:56] mereghost commented on #117
@rowlando Could you get this working?

[2017-01-15 09:54] #119 closed

[2017-01-21 18:23] jodosha commented on #117
I assume this is resolved. @rowlando When you can, please let us to know. Thanks.

[2017-01-21 18:23] #117 closed

[2017-02-10 17:05] kaikuchn opened #123 "custom predicates do not work in conjunction with schema"
Greetings,

I've been tinkering with the validations gem since I've been looking for a way to get custom predicates to work with `Hanami::Action::Params` ([see the corresponding issue](https://github.com/hanami/controller/issues/209)).
When I thought I had found a solution it instead blew up in my face saying `NoMethodError: undefined method 'messages' for #<Dry::Validation::Messages::YAML:0x007fe

[2017-02-11 13:53] jodosha commented on #123
@kaikuchn

😂  Glad to head that!

---

This was already fixed with #122. If you try with the `HEAD` of `master` branch it will work as expected.

[2017-02-11 13:53] #123 closed

[2017-03-20 09:48] jodosha opened #126 "Migrate from Minitest to RSpec"
A few rules to follow:

  * If you want to work on this, please leave a comment here. We want to avoid many people to work on the same task.

  * We expect this migration to happen within a week from now.

  * Do not change the tests, only migrate from Minitest to RSpec syntax. If not sure, please ask here.

  * Do not remove the old tests, only add the new ones.

  * Make CI build to use RSpec te

[2017-06-06 14:39] jarosluv opened #129 "Validators don't see custom I18n errors"
There is problem with validation and custom errors.

Please, see gist: https://gist.github.com/jarosluv/b6868e13736fc4e1be1321a933adca92

It's error raised when using Schema in controller, but all is okay when calling Schema directly.

[2017-06-07 12:17] jarosluv opened #130 "Controller doesn't pay attention to `validate` block"
Hanami doesn't pay attention to [validate block](http://dry-rb.org/gems/dry-validation/custom-validation-blocks/) during controller params validation.

Please, see gist special for this case https://gist.github.com/jarosluv/947d6d30f85554681eb3d1ee9c8e22cd

Note: Block `validate` returns `false`, but Hanami believes  that there are no errors. This matters only in controller params validation.

[2017-06-07 12:28] davydovanton commented on #130
/cc @hanami/core

[2017-06-07 14:19] mereghost commented on #130
@jarosluv Hmmm... It seems that your validation schema isn't doing what you expect:

[code]

[2017-06-07 20:16] jarosluv commented on #130
@davydovanton @mereghost

Guys, I'm so sorry. It seems that this is really my bad. I mess around with `validate` for the last few days and totally confused.

I forgot about `required(:title).filled` in my gist. But the real mistake is using `message: "Foo is wtf?!"` as `validate` params. I've been suffered with [this issue](https://github.com/hanami/validations/issues/129) for so long that I decid

[2017-07-11 23:15] mcshakes commented on #126
@jodosha I'll take this if it's available still

[2017-07-12 10:19] artofhuman commented on #126
@mcshakes this pr https://github.com/hanami/validations/pull/127 should resolve this issue

[2017-07-23 14:03] AlfonsoUceda commented on #130
@jarosluv I'm going to close this issue and focus in the issue you opened in `hanami-validations`

[2017-07-23 14:04] #130 closed

[2017-07-28 14:53] BenBach commented on #129
@jarosluv Were you able to solve this. I have the exact same issue. The customer error messages of my customer predicates aren't found

[2017-07-31 11:39] jarosluv commented on #129
@BenBach

Hello, Ben!

With help of @flash-gordon, it was possible to got workaround:

[code]

[2017-08-01 08:33] jodosha commented on #126
Implemented by #127

[2017-08-01 08:33] #126 closed

[2017-08-02 09:11] juanibiapina commented on #129
A simpler example would be:

[code]

[code]

[2017-08-02 10:30] juanibiapina commented on #129
Actually it might not be as simple. This Model class needs to be included somewhere else for the bug to appear:

[code]

[2017-08-15 22:35] AlfonsoUceda commented on #129
@juanibiapina you can fix it including predicates in Child class as workaround.

[2017-08-15 22:47] AlfonsoUceda commented on #129
@jarosluv thank you for reporting this and sorry for the late answer, we are working in the fix because the workaround is ok but it isn't good if you have to add in every action you use that schema.

[2017-08-23 08:06] rodrigopk opened #131 "Nested parameter whitelisting"
If I have the following configuration for my parameters in an action:

    required(:id).filled(:int?)
    required(:user).filled.schema do
      optional(:first_name)
      optional(:last_name)
    end

I observed that I cannot filter a nested parameter (i.e. anything inside `:user`).

[code]

I believe that the `params[:user][:email]` should be filtered just as `params[:email]`.

[2017-09-17 20:24] AlfonsoUceda commented on #131
Hi @rodrigopk do you have that config inside params block in the action class?

IMO that behaviour is right, because you are defining something like the following structure:
[code]
so you'll have to access it using `params[:user][:email]`, if you want access the email to the first level, then don't declare them inside `:user`, for example check this: https://github.com/hanami/controller#validation

[2017-09-20 16:45] projecthl2 opened #132 "How can I custom keys in validation?"
Hi, I read [README](https://github.com/hanami/validations#custom-error-messages) and understood to custom my error messages.

But I have a question... how to custom keys (in this case, like "age".) in validation?

[code]

It is serious problem for me, because I'm Japanese and I work in Japan. I have to use Japanese error messages at all to use `Hanami` in our products.

I checked issues, but I am

[2017-09-20 17:35] cllns commented on #132
Sorry you're having trouble!

I don't think we expect the keys to be displayed to the user. Notice the message is just "must be an adult", which is a message about the person, not the age specifically. "must be 18 or older" would be the message for the age. Does that make sense?

You could work around this by *not* showing they key, and putting that translation into the value.

[code]

If you do w

[2017-09-20 20:01] projecthl2 commented on #132
Thanks for your answer! I was misunderstanding about it.

This is what I was looking for.
I should have tried it first in my code, sorry.

Thank you for your kindness! I'll close my issue.

[2017-09-20 20:01] #132 closed

[2017-09-20 20:38] cllns commented on #132
No worries, glad you figured it out! 🌸

[2017-09-20 22:06] mjq commented on #131
Here's a one-file gist that I think demonstrates the reported issue: https://gist.github.com/mjq/ab7ccae8a7620f34843897ce3da65699

The first assertion passes, but the second two fail, just as @rodrigopk described: `:email` is whitelisted at the first level, but not at the second.

Through experimentation, things work as expected (tests pass) with:
[code]
(Note that `filled` was removed from `:user

[2017-09-21 07:42] AlfonsoUceda commented on #131
@mjq ok, now I understand better the problem. I think the problem is use `.filled` in `required(:user).filled.schema  { ... }`, when you have a nested data, you have to use `required(:user).schema  { ... }` and if that nested data is optional you can use `required(:user).maybe { ... }`.

Anyway, I'll ask to dry-validation maintainers why with `filled.schema` doesn't work well.

[2017-09-21 08:21] AlfonsoUceda commented on #131
@mjq @rodrigopk I've talked with dry maintainers and they told me that it is a limitation, chaining is not supported, right now we don't raise an error but they will improve the behaviour in dry-v 1.0

[2017-09-21 08:57] AlfonsoUceda commented on #131
Folks, if you don't mind, I'm going to close this issue, for now don't use `filled.schema` just `schema` for nested structures. By the way, thanks for this issue.

[2017-09-21 08:57] #131 closed

[2017-09-30 15:51] AlexanderMint commented on #75
How to make so there would be no mistake if a key - a string?

[code]

[2017-09-30 15:58] AlexanderMint opened #133 "[Question] Validation Object receiving key arguments as string or symbol"
How to make so there would be no mistake if type key = string or symbol?

[code]

There is a bad decision
[code]

[2017-10-01 20:17] AlfonsoUceda commented on #133
@AlexanderMint thanks for this issue, I'll take a look ;)

[2017-10-02 06:44] AlfonsoUceda commented on #133
@AlexanderMint it seems a problem in `dry-validation` gem, do you need convert keys in symbols? you can take a look to `Hanami::Utils::Hash`

[2017-10-02 07:46] AlfonsoUceda commented on #133
If you need the reference https://github.com/dry-rb/dry-validation/issues/333

[2017-10-09 20:14] AlfonsoUceda commented on #133
Closing this issue because it was resolved for now. As a workaround, define the schema with strings an use strings or define it with symbols and use symbols.

[2017-10-09 20:14] #133 closed

[2017-10-14 09:58] gizotti opened #134 "Make validations a callable object"
At his talk at railsclub(https://www.youtube.com/watch?v=SRQVhHzW-Eo) @jodosha talked about
 making changes to `Hanami::Validations` to make it a callable object.

I am happy to start working on this, would just like some guidance so I can move in the right direction.

Would we have to make this backwards compatible still allowing for params to be set on initialization?

I would also like to work

[2017-10-26 12:00] BenBach commented on #129
@AlfonsoUceda Thanks. This is not fixed in hanami 1.1.0 right?

[2017-10-26 12:01] AlfonsoUceda commented on #129
@BenBach no sorry, but I wanted to fix it maybe for 1.1.1, just I need time :P

[2017-10-26 12:07] BenBach commented on #129
@AlfonsoUceda No problem at all.

I am just wondering how to do a workaround:

[code]

Do you maybe have a hint?

[2017-10-27 15:58] AlfonsoUceda commented on #129
I'll take a look this weekend ;)

[2017-10-29 15:00] AlfonsoUceda commented on #129
@BenBach Almost hehe, that message is because custom predicates need custom error messages, so you need to create a validator class and use the predicate inside the validator. The problem is because we have to improve that API.

[code]

Adapt it to your code and tell me if it works.

[2017-11-02 10:35] malin-as opened #135 "Fail on incomplete expression?"
In order to check for a field to be always be present, but with any possible value (including `nil`), please check the following example:
[code]
It returns:
[code]

Either `required(:present)` is an incomplete expression, in which case Hanami should not silently ignore it, or it is equivalent to `required(:present).maybe`, in which case it should display the same behaviour.

[2017-11-06 16:26] jodosha commented on #135
@malin-as Thanks for bringing this discussion. I'm not sure if that is possible at the moment, and I'm afraid it would be a breaking change.

@solnic @flash-gordon any opinion on this?

[2017-11-06 16:26] #135 closed

[2017-11-10 13:41] wuarmin opened #136 "Error if each macro is used with a single check"
Hello,

Following Params-Validation works

[code]
[code]
But if I remove the actual-check at areas, because I don't care if it is present or not,
[code]

the validation fails with following error:
[code]
Thx

[2017-11-13 08:54] wuarmin commented on #136
The issue can be solved with following:

[code]

[2017-11-13 08:57] #136 closed

[2017-11-20 11:37] jodosha commented on #129
@BenBach Can you please verify? TYVM.

[2017-11-20 11:37] jodosha commented on #134
Nope. Params must be arguments of `#call`.

[2017-11-21 15:05] jodosha commented on #136
@wuarmin Thanks for letting us to know. Happy coding!

[2017-11-24 16:36] rodrigopk commented on #129
@jodosha @AlfonsoUceda Hi, I work on the same company as @BenBach.
I tested the solution proposed by @AlfonsoUceda, and it works like a charm.
Thanks for the help!

[2017-11-24 16:37] BenBach commented on #129
@AlfonsoUceda Thanks a lot!!

[2017-11-24 16:38] AlfonsoUceda commented on #129
Thanks both to use Hanami, we want to improve hanami validations because it is in our roadmap.

[2017-11-27 08:31] jodosha commented on #129
Folks, thank you all. I'm closing this. I also documented the usage: https://github.com/hanami/hanami.github.io/pull/418

[2017-11-27 08:31] #129 closed

[2017-12-07 11:50] malin-as opened #138 "Router params treated differently in RSpec"
Hi,

I'm noticing a strange behaviour with hanami-validations-1.1.0 when trying to validate an update form. Let's assume the following controller:

[code]

The `routes.rb` contains the typical:

[code]

When I call it from my `test#edit` page (i.e. when my application is running), it works as expected. However, when I try to run rspec to validate it:

[code]
the `id` parameter disappears:
[code]

[2018-01-07 00:06] xvonabur commented on #129
@jodosha Hi! Just my two cents. There is still issue with inline predicates. The only way to use it with i18n errors is to add
[code]
to controller (as mentioned above). Is it true for master branches of `hanami` and `hanami-validations`? If so, I can send a PR to hanami docs to mention it, if you wish. I've lost so much time to figure it out, so I want to help others.

[2018-01-08 12:41] DSIW opened #140 "Wrap rule errors by namespace"
I created a minimal example with the problem: https://gist.github.com/DSIW/d8bf6e71ce9fd7b952e74cf7fec9a123

I assume that the error rule `time_range` should be wrapped by the `contract` namespace like the `vendor` validation. What do you think?

[2018-01-08 14:41] DSIW commented on #140
It works if I use a rule with the name of one of the required keys: `ends_on`

I think, the other way should work, too.

[code]

[2018-02-20 08:42] AlfonsoUceda commented on #140
Hi @DSIW thanks for the issue and sorry for the trouble, I'll look as soon as possible ;)

[2018-03-11 20:34] AlfonsoUceda commented on #140
@DSIW it seems a bug in dry-validations:

[code]

I've asked in dry-rb gitter's chat to know if they can help us.

[2018-04-05 12:50] jodosha commented on #138
@malin-as Can you please try to print the content of `params` from `Web::Controllers::Test::Update` during the tests? Thanks.

[2018-04-13 03:07] malin-as commented on #138
@jodosha this is the contents of `params` that reach the controller's `call` method

First case gives:
[code]

Second case gives:
[code]

[2018-05-18 01:22] wizardone opened #142 "+key?+ is not a valid predicate name"
Hey *,

I get the following error when trying to validate with a Custom predicate module, that is called just `Predicates`, e.g.

[code]

[code]
The resulting error when calling `.validate` is:
[code]
Obviously if I rename the module to `CustomPredicates` or anything else it works, but just wanted to mention it to you (it took me some time to figure it out, although it makes good sense). Maybe it

[2018-08-10 16:35] jc00ke opened #151 "Unable to use I18n w/o manually requiring dry/validations/messages/i18n"
I based my setup off of [this article](https://www.bounga.org/ruby/2016/10/08/using-i18n-with-hanami/) but I ran into an issue that required a, to me, funky workaround.

[code]
With this setup, I would get the following error when booting the app:
[code]

I spelunked a but and found that I had to manually require `dry`'s `i18n`.
[code]

It looks like we had to do the same in our own [spec](https:/

[2018-08-19 14:08] ippachi opened #152 "i18n and predicate are not working well"
Hello.
First Thank you for a great gem.

### environment
gem version: 1.2.2

## executed code
In Hanami Project

[code]

[code]

[code]

## expected
[code]

## got
[code]

## description
I executed below code and i got a strange output.
[code]

I change an original gem code to below code and works well.
but I don't know why.
[code]

[2018-08-19 17:26] ippachi commented on #152
maybe I resolve this issue so I create pull request

[2018-09-20 21:46] greggilbert opened #155 "dry-validation val() doesn't work for predicates"
I might be going about this the wrong way, but suppose I want to create a predicate that checks to see if a subdomain is already taken. I want it to pass if the value passed in is already in use by the object.

So for example, given this input:
[code]

If you were editing id=3 and you tried to save using the value 'foo', it would pass because it's already being used. Compare to id=5, where it shou

[2018-10-24 07:18] jswanner opened #156 "Support for preprocessing?"
Thanks for the great framework.

I've been trying, without success, to figure out how to make dry-validation's [input preprocessing]( https://dry-rb.org/gems/dry-validation/input-preprocessing/) work. Is this possible?

I'm also using this in the context of an action's params, so perhaps this issue is better suited to https://github.com/hanami/controller instead.

[2018-11-20 13:11] azbshiri opened #157 "Add a simple a helper method to shorten validate.success? with valid? [Law of Demeter]"
[code]

I think it's easier to just call `valid?` on a form variable like below:
[code]
instead of

[code]

[2018-12-19 06:41] nomanurrehman opened #159 "Nested Validations Not Working"
I am posting the following JSON.

[code]

From what I understand, this is what I should have in my controller to let this go through.

[code]

However, this does not work and I am getting `{"user": {}}` as a result of `params.to_h`.

However, the following combinations work and I am getting the complete user object when I call `params.to_h`.

[code]
[code]

[2019-01-03 18:44] cllns commented on #159
Can you try addling `.filled` (or `.maybe`) to the predicate lines?

So:
[code]

I think that should fix this issue. Please close this issue if so :)

[2019-04-16 21:16] ThisIsMissEm opened #168 "validate blocks raise an exception about missing messages"
Hi! I've the following code:

[code]

Then else where I do: (there's a bit of additional abstraction, but it seems to not be important)
[code]

This then triggers the following error:

[code]

I've tried setting `messages_path`, and various other combinations of things that I've found between the Hanami::Validations and Dry::Validations READMEs and docs, but nothing seems to resolve this error.

W

[2019-04-16 21:17] ThisIsMissEm commented on #168
I'm needing to use the `validate` block because I've a schema where I have arbitrary keys in the hash, as per: https://github.com/dry-rb/dry-schema/issues/37

[2019-05-18 04:30] joelvh opened #173 "Upgrade to dry-validation v1.0 or remove dependency from Hanami"
I spend a lot of time today trying to upgrade hanami-validations to use dry-validation v1.0.0.rc3 with little success. It is possible to upgrade the dry-rb parts, but the predicate framework that Hanami created has an unclear upgrade path that I can tell.

This dependency is preventing me from upgrading ROM in my project, and I'm not using the models.

Could hanami-validations be made an optional

[2019-06-27 07:10] jodosha commented on #173
The problem is that `hanami-validations` locked an old version of `dry-validation`, so the entire set of stable/latest gems from ROM/DRY can't be used right now in `hanami` 1.3.

:warning: Now, that solution cannot be pursued because, removing that dependency is a breaking change for `hanami`.

:bulb: What I propose here, is to release `hanami-model` and `hanami-validations` 2.0 soon. They would c

[2019-06-27 07:25] AlfonsoUceda commented on #173
I agree that we should relax hanami-validations restriction so people aren't attached to an old version of dry-validations ;)

[2019-06-27 08:53] solnic commented on #173
If it's feasible (implementation-wise) to make it work with both versions of hanami-validations then it sounds like a very good plan

[2019-07-03 12:22] jodosha commented on #173
Please have a look at https://github.com/hanami/validations/pull/180

[2019-07-20 06:55] joelvh commented on #173
Thanks @jodosha this is great! Looks good to me.

[2019-07-23 09:50] jodosha commented on #173
Fixed by https://github.com/hanami/validations/pull/180

[2019-07-23 09:50] #173 closed

[2019-07-23 09:53] jodosha commented on #134
Implemented by #180

[2019-07-23 09:53] #134 closed

[2019-07-25 12:56] jodosha commented on #168
@ThisIsMissEm I can't reproduce the problem, as the validations context doesn't respond to `properties`:

[code]

[2019-07-25 12:59] jodosha commented on #159
@nomanurrehman I'm closing it for now, as @cllns suggestion is correct. Please let us to know if it still doesn't work.

[2019-07-25 12:59] #159 closed

[2019-07-25 13:02] jodosha commented on #157
@azbshiri Thanks for the suggestion, but I don't believe this is a good idea, given the different direction we're taking with 2.0. I want to avoid to form new habits that will disappear soon.

In 2.0 data will be passed as argument to `#call`:

[code]

It this way there is no longer need for this short circuit you're suggesting.

[2019-07-25 13:02] #157 closed

[2019-07-25 13:12] jodosha commented on #156
@jswanner Here's how to do:

[code]

[code]

---

Please be aware that [input preprocessing](https://dry-rb.org/gems/dry-validation/0.13/input-preprocessing/) has been removed from `dry-validation`. In 1.0 you can used directly custom types: see https://dry-rb.org/gems/dry-validation/1.0/schemas/ (**Using custom types** section).

[2019-07-25 13:12] #156 closed

[2019-07-25 13:47] jodosha commented on #142
@wizardone By using `Predicates` you're referring to `Hanami::Validations::Predicates`. You should pick a different name, or use `::Predicates`.

[2019-07-25 13:47] #142 closed

[2019-07-25 13:54] #151 closed

[2019-07-29 08:49] #152 closed

[2019-08-01 10:12] lfidnl commented on #138
Hello.
Sorry for resurrecting this old issue. I faced up with the same issue and made an investigation. The problem is in only when pass params without using Rack. When `env` has `rack.input` and `router.params` it works fine.

I have to make following things to make it works:
In spec
[code]

In hanami/action/base_params.rb
[code]

or, for workaround, route.params can be added to params section in

[2019-10-27 20:30] JuPlutonic opened #188 "v2.0.0.alpha1, 2.0 suggestion."
52c1811f1e1bb4018d1cf878a6254b66de5ce404
is strongly connected to  'dry-validation', '~> 0.11.2', '< 0.12' in order to prevent dry-logic 0.5.0 installation.
I'm in hanami apps constantly dealing with outdated Dry::Monads::Either methods and deprecation warnings.
My suggestion is about how to overcome this problems in future 2.0 release.
I want to be assure what it is possible to decompose dry-logi

[2019-10-28 12:44] jodosha commented on #188
@JuPlutonic Thanks for your input.

Are you suggesting to change how internally `dry-validation` `0.11` to target `dry-logic` versions greater than `0.5`?

Is it your goal to avoid deprecation warnings or to make smoother the transition to 2.0?

[2019-10-28 21:41] JuPlutonic commented on #188
Thanks. I didn't find how to get new methods worked from last dry-validation (their documentation topics have only three volumes: '0.13', '1.0', '1.3' and from my side I have to look into dry-validation commit history to understand some pieces of code),
Now I see what dry-validation takes bucket of dependencies and my suggestion looks too naive and doesn't take into account version locks you now d

[2019-10-29 08:22] jodosha commented on #188
@JuPlutonic Yeah, `hanami-validations` is locked to an old `dry-validation` version because of Semantic Versioning. We couldn't upgrade `hanami-validations` 1.x to the latest `dry-validation` without breaking backward compatibility.

That sucks, I know, but we value stability a lot.

To counterbalance this problem, the `hanami-validations` `2.0.0.alpha1` can be used in Hanami apps 1.x, **BUT** you

[2019-10-29 08:22] #188 closed

[2020-07-13 12:44] unhappychoice opened #202 "Updating dry-validation ?"
`dry-validation` already has many releases and `hanami-validations` depends on 0.11.x for a long time.
So do we need updating dry-validation ?

# Updating to 1.5.1 ( Latest )
I don't know exact,  but `hanami-validations` might need to have lots of breaking changes.
But it seems to be many useful features.

Ref: https://github.com/dry-rb/dry-validation/blob/master/CHANGELOG.md#151-2020-06-18

# Upd

[2020-07-13 13:41] jodosha commented on #202
@unhappychoice Did you try with this version? https://rubygems.org/gems/hanami-validations/versions/2.0.0.alpha1

[2020-07-13 13:51] unhappychoice commented on #202
Ah, sorry, I just couldn't find the version and branches, thanks :pray:

[2020-07-13 13:52] #202 closed

[2020-07-13 13:52] jodosha commented on #202
@unhappychoice No worries. FYI - https://github.com/hanami/controller/blob/master/CHANGELOG.md#v133---2020-01-14

[2021-02-15 21:20] adam12 commented on #168
Closing due to lack of feedback. If this is still an issue, please provide an update so we can re-open this issue.

[2021-02-15 21:20] #168 closed

[2021-02-25 13:42] johannesluedke opened #219 "hanami-validations is not ruby 3 compatible"
I would like to upgrade an app with hanami-validations to Ruby 3, but because it depends on `dry-validation <0.12` which is not ruby 3 comptabile this does not work 😕

This is the erorr message shown:
[code]

Can you upgrade the dependency to a more recent version which already has ruby 3 support? https://github.com/dry-rb/dry-types/blob/master/CHANGELOG.md#121-2019-11-07

[2021-02-25 14:12] adam12 commented on #219
It's unlikely that `hanami-validations 1.x` will support Ruby 3. My suggestion is to try the current alpha for 2.x or wait for the next new release.

[2021-02-25 14:12] #219 closed

[2021-02-25 15:19] johannesluedke commented on #219
Sorry to hear that, so I guess I'll just wait 😇.. I saw https://trello.com/b/lFifnBti/hanami-20, are we days, weeks or months away from an 2.0-non-alpha/beta release?

Given that this probably blocks all hanami projects to upgrade to ruby 3, I guess this wish will come up in a lot of projects

[2021-02-25 15:26] adam12 commented on #219
It's unfortunate, but the work involved is non-trivial and there's limited capacity which is all volunteer, and is going all towards Hanami 2.

Things are moving along but there's really no way to tell. A lot of Hanami v2 alpha is usable and is being used by people in projects, but with the usual caveat that things may change.

There's hope for another alpha this quarter or at least next. Definite

[2021-05-03 13:44] jodosha commented on #138
Closing as stale conversation.

[2021-05-03 13:44] #138 closed

[2021-05-03 13:44] jodosha commented on #140
Closing as stale conversation.

[2021-05-03 13:44] #140 closed

[2021-05-03 13:45] jodosha commented on #155
Closing as stale conversation.

[2021-05-03 13:45] #155 closed

[2022-10-06 14:10] epaew opened #223 "Unexpected value returned from `Hanami::Validations::Namespace`"
# Environments
- CRuby 2.7.6
- hanami-validations 1.3.9

# Issue detail
When the validator class is defined in the module with name includes `Validator`, `Hanami::Validations::Namespace` returns unexpected value.
[code]

## Expected
[code]

# Motivation
I'd like to define custom error messages for this validator, like below.
[code]

# How to escape
## 1. define namespace manually
https://guides.ha

[2022-10-24 10:29] jodosha commented on #223
@epaew What's the expected value for you?

[2022-10-24 11:22] epaew commented on #223
@jodosha

The namespace value I expected for `Validators::UserValidator` class is `"validators.user"`.

I updated the detail of this issue.